[submodule "dependencies/PX4-Autopilot"]
	path = dependencies/PX4-Autopilot
	url = https://github.com/ANCL/PX4-Autopilot.git
[submodule "dependencies/px4_msgs"]
	path = dependencies/px4_msgs
	url = https://github.com/ANCL/px4_msgs.git
[submodule "dependencies/ros2-vicon-receiver"]
	path = dependencies/ros2-vicon-receiver
	url = https://github.com/ANCL/ros2-vicon-receiver.git
[submodule "dependencies/Micro-XRCE-DDS-Agent"]
	path = dependencies/Micro-XRCE-DDS-Agent
	url = https://github.com/ANCL/Micro-XRCE-DDS-Agent.git
